/* General styles */
body {
    background-color: lightgreen;
    font-family: Arial, sans-serif;
    margin: 0;
    padding:
    0;
    
    }
    header {
    background-color: #4CAF50;
    color: rgb(252, 250, 250);
    padding: 15px;
    text-align: center;
    
    }
    nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(245, 241, 241);
    font-weight: bold;
    
    }
    section {
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    }
    gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    }
    
    .artwork {
        background-color: yellow;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        width: 200px;
    }
        .artwork img {
        max-width: 100%;
        border-radius: 5px;
        
        }
        
        .buy-button {
        background-color: #4CAF50;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
        
        }
        buy-button:hover {
        background-color: #45a049;
        
        }
        selection-container, .form-group {
        margin-top: 15px;
        }
        marquee {
        font-size: 24px;
        color: #27a000;
        background-color: lightyellow;
        padding: 10px;
        
        }
        footer {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        }